
footer{
    background-color: rgb(34, 39, 37);
    color: white;
}

.footer{
    display: flex;
    padding: 23px 23px;
    justify-content: space-evenly;
    width: auto;
}

.footer .footer-first{
    margin-right: 400px;
}

.footer ul{
    list-style: none;
}

footer .copyright{
    text-align: center;
    color: grey;
}